/* Color Constants */
$nasaBlack: #0e1114;
$nasaDarkGray: #666666;
$nasaLightGray: #999999;
$nasaWhite: #ebebeb;
$nasaDarkBlue: #021e50;
$nasaBlue: #032D77;
$nasaLightBlue: #0645b1;
$nasaDarkRed: #700000;
$nasaRed: #8f0000;
$nasaLightRed: #ef0005;

/* Media Queries */
$breakpoint-mobile: 576px;
$breakpoint-desktop: 992px;

/* Colors */
$bodyColor: $nasaBlack;
$fontPrimaryColor: #ffffff;
$fontHoverColor: $nasaLightGray;