@import "_variables";

/* Global Elements */
html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $bodyColor;
    color: $fontPrimaryColor;
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
}

/* Classes */

.nav-item {
    font-size: 20px;
}

.navbar-dark .nav-item.active .nav-link {
    font-weight: 800;
}

/* Desktop Queries */
@media screen and (min-width: $breakpoint-desktop) {
    .navbar-brand {
        margin-left: 12%;
    }
    
    .collapse.navbar-collapse {
        margin-right: 12%;
    }
}